@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

:root {
    --home-bg-color:#140E1C;
    --button-color:#C5757C;
    --title-color: #A1525F;
    --text-color: #F7F7FF;
    --dark-color: #683A46;
    --chat-bg-color: #462037;
    --chat-color: #F9AAAD;
  }