@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --home-bg-color:#140E1C;
    --button-color:#C5757C;
    --title-color: #A1525F;
    --text-color: #F7F7FF;
    --dark-color: #683A46;
  }